:root {
  font-family: "PT Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/background-body.jpg);
}

#head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  background-color: #1a0b2e;
}

#head h1 {
  font-size: 2rem;
  color: #fff;
  letter-spacing: 2px;
}

#head span {
  color: #7127ba;
}

#head ul,
li,
a {
  font-size: 20px;
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 100px;
  color: #fff;
}

#home {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dev {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-image: url(./assets/Gradient.jpg);
  object-fit: contain;
}
.dev h1 {
  font-size: 3rem;
  color: #fff;
}

.dev span {
  font-size: 1.5rem;
  color: #7127ba;
}
.dev h2 {
  font-size: 2rem;
  color: #fff;
}

.dev input {
  width: 100px;
  height: 25px;
}
